<template>
    <div>
        <div class="p-2  bg-gray-600 text-white">
            <NuxtLink to="/" class="p-2 bg-red-600 text-white">
                Home
            </NuxtLink>
            <NuxtLink to="/login" class="p-2 bg-red-600 text-white" v-if="!$auth.loggedIn">
                Login
            </NuxtLink>

            <div to="/" 
                @click="logut"
                class="p-2  text-white" v-if="$auth.loggedIn">
                Logut
            </div>
        </div>
        <Nuxt />
    </div>
</template>

<script>
export default {
    methods:{
            async logut(){
                console.log("EXIT")
                await this.$auth.logout();
                this.$router.push('/');

              //  this.$auth.loggedIn = false;
            }
        }
}
</script>