<template>
  <div>
  

    <div v-if="!$auth.loggedIn">
      Log in to your personal account
    </div>

    <div v-if="$auth.loggedIn">
      {{ this.$auth.$storage.getUniversal('user') }}
    </div>

  </div>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
